#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {

  keymap {
    compatible = "zmk,keymap";

    base {
      bindings = <
        &kp ESCAPE  &kp Q         &kp W         &kp E        &kp R        &kp T        &kp Y    &kp U            &kp I        &kp O         &kp P            &kp BSLH
        &kp TAB     &hml LSHFT A  &hml LCTRL S  &hml LALT D  &hml LCMD F  &kp G        &kp H    &hmr RCMD J      &hmr RALT K  &hmr RCTRL L  &hmr RSHFT SEMI  &kp APOS
        &kp LSHFT   &kp Z         &kp X         &kp C        &kp V        &kp B        &kp N    &kp M            &kp COMMA    &kp DOT       &kp FSLH         &capdance
                                                &kp LGUI     &lt 1 GRAVE  &kp SPACE    &kp RET  &lt 2 BACKSPACE  &kp RALT
      >;

      sensor-bindings = <&rgbknob RGB_HUI RGB_HUD>, <&rgbknob RGB_BRI RGB_BRD>;
    };

    raise {
      bindings = <
        &trans  &kp N1    &kp N2   &kp N3  &kp N4         &kp N5         &kp N6          &kp N7          &kp N8        &kp N9           &kp N0   &trans
        &trans  &kp HOME  &kp END  &trans  &kp PAGE_DOWN  &kp PAGE_UP    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans   &kp F12
        &trans  &kp F1    &kp F2   &kp F3  &kp F4         &kp F5         &kp F6          &kp F7          &kp F8        &kp F9           &kp F10  &kp F11
                                   &trans  &trans         &trans         &trans          &trans          &trans
      >;

      sensor-bindings = <&volknob>;
    };

    lower {
      bindings = <
        &trans  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp STAR  &kp LPAR  &kp RPAR  &trans
        &trans  &trans    &trans  &trans    &trans    &trans       &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT  &kp BSLH  &kp GRAVE
        &trans  &trans    &trans  &trans    &trans    &trans       &kp UNDER  &kp PLUS   &kp LBRC  &kp RBRC  &kp PIPE  &kp TILDE
                                  &trans    &trans    &trans       &trans     &trans     &trans
      >;
    };

    both {
      bindings = <
        &trans      &trans        &trans        &trans        &trans        &trans          &trans  &trans  &trans  &trans  &trans  &trans
        &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans  &trans  &trans  &trans  &trans  &trans
        &trans      &trans        &trans        &trans        &trans        &trans          &trans  &trans  &trans  &trans  &trans  &trans
                                                &trans        &trans        &trans          &trans  &trans  &trans
      >;
    };

    autoshift {
      bindings = <
        &trans  &as Q  &as W  &as E   &as R   &as T     &as Y   &as U   &as I   &as O   &as P   &trans
        &trans  &as A  &as S  &as D   &as F   &as G     &as H   &as J   &as K   &as L   &trans  &trans
        &trans  &as Z  &as X  &as C   &as V   &as B     &as N   &as M   &trans  &trans  &trans  &trans
                              &trans  &trans  &trans    &trans  &trans  &trans
      >;
    };
  };
};